<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lazylee.apiguidedemo">

    <!-- 注意 使用android.permission.SET_ALARM 时 没法获取到权限 -->
    <!-- <uses-permission android:name="android.permission.SET_ALARM"/> -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".GuideActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intents.CommonIntentActivity"
            android:parentActivityName=".GuideActivity" />
        <activity android:name=".ui_navigation.CustomViewActivity" />

        <receiver android:name=".ui_navigation.widgets.NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <activity android:name=".ui_navigation.widgets.NewAppWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui_navigation.CanvasActivity"
            android:parentActivityName=".GuideActivity" />
        <activity
            android:name=".ui_navigation.canvas.CanvasOneActivity"
            android:parentActivityName=".ui_navigation.CanvasActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui_navigation.CanvasActivity" />
        </activity>
        <activity
            android:name=".ui_navigation.canvas.CanvasTwoActivity"
            android:parentActivityName=".ui_navigation.CanvasActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui_navigation.CanvasActivity" />
        </activity>
        <activity
            android:name=".ui_navigation.canvas.CanvasThreeActivity"
            android:parentActivityName=".ui_navigation.CanvasActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui_navigation.CanvasActivity" />
        </activity>
        <activity android:name=".images_graphics.DrawablesOverviewActivity"></activity>
    </application>

</manifest>